.buy-it-box .add-to-basket {
  background-color: hsl(50, 100%, 54%);
  box-shadow: 1px 1px 1px hsl(50, 100%, 54%);
  display: block;
  border-radius: 11px;
  margin: 1em;
  width: calc(100% - 2em);
  font-size: 1.2em;
  height: 2.7em;
}

.buy-it-box .add-to-basket:hover {
  background-color: #f7ca00;
}

.buy-it-box .buy-now:hover {
  background-color: #fa8900;
}

.buy-it-box .buy-now {
  background-color: hsl(36, 100%, 55%);
  box-shadow: 1px 1px 1px hsl(36, 100%, 55%);
  display: block;
  border-radius: 11px;
  margin: 1em;
  width: calc(100% - 2em);
  font-size: 1.2em;
  height: 2.7em;
}
.buy-it-box .old-price {
  font-family: "Courier New", Courier, monospace;
  text-decoration: line-through;
}
.buy-it-box .deliver-to i {
  display: inline;
}

.buy-it-box .details-container {
  margin-left: 1em;
}

.buy-it-box .price-container,
.rrp,
.deliver-to {
  padding: 1em;
}

.buy-it-box .stock {
  padding: 1em;
}

.buy-it-box .discount {
  padding-right: 1em;
}
.buy-it-box .get-item-by {
  padding-left: 1em;
  font-size: 1.3em;
  color: var(--orange-hightlight);
}

.buy-it-box .quantity {
  padding: 0.7em;
}

.buy-it-box .details-container-2 i {
  margin-left: 1em;
}
.buy-it-box .details-container-2 i {
  margin-right: 1em;
}

.buy-it-box .c1 {
  display: inline-block;
  width: 150px;
  color: var(--text-grey);
}

.buy-it-box .dispatch div {
  margin: 1em;
}

.buy-it-box .returnable {
  display: inline-block;
  width: 200px;
}

.buy-it-box .prime {
  border-radius: 11px;
  margin: 1em;
  width: calc(100% - 2em);
  font-size: 1.2em;
  height: 2.7em;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px grey;
}

.buy-it-box {
}

.buy-it-box {
}
