.shopping-basket {
  max-width: var(--max-body-width);
  min-width: var(--min-screen-size);
  margin: 0 auto;
}

.shopping-basket h2 {
  text-align: center;
  padding: 1em;
}

.shopping-basket .item {
  border-bottom: 1px solid grey;
  height: 240px;
  display: flex;
}

.shopping-basket .item img {
  height: 190px;
  margin: 1em auto;
  cursor: pointer;
}

.shopping-basket .img-container {
  width: 400px;
  background-color: beige;
  padding: 0 1em;
}

.shopping-basket .order-details {
  width: 100%;
  height: 100%;

  background-color: beige;
  padding: 1em;
  position: relative;
}

.shopping-basket .title {
  font-size: 1.2em;
}

.shopping-basket .stock {
  color: #008334;
  font-size: 0.7em;
  padding: 0.5em;
  padding-left: 0;
}

.shopping-basket .eligible {
  color: var(--text-grey);
  font-size: 0.7em;
  padding: 0.5em;
  padding-left: 0;
}

.shopping-basket .quantity {
  padding: 0.2em;
  box-shadow: 2px 2px 8px grey;
}
.shopping-basket .quantity-container {
  margin: 1em 0;
}
.shopping-basket .quantity-container > div {
  display: inline;
  font-size: 0.8em;
  padding: 0 1em;
  color: var(--text-grey);
  border-right: 1px solid rgb(162, 159, 159);
}

.shopping-basket .quantity-container > div:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 503px) {
  .shopping-basket .quantity-container {
    display: flex;
    flex-direction: column;
  }
  .shopping-basket .quantity-container div {
    margin: 0.5em;
    padding: 0;
    border: 0;
  }

  .shopping-basket .quantity-container .delete {
    padding-top: 1em;
  }

  .shopping-basket .quantity-container select {
    width: 70px;
  }
}

.shopping-basket .sub-total-container {
  height: 70px;
  background-color: beige;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.shopping-basket .subtotal {
  margin: 1em;
}

.shopping-basket .eur {
  font-weight: 800;
  font-size: 1.1em;
  border-top: 2px solid black;
  padding-top: 0.5em;
}

.shopping-basket .empty {
  margin: 5em;
}

@media (min-width: 800px) {
  .shopping-basket .item {
    min-width: 550px;
    max-width: 70vw;
  }

  .shopping-basket .sub-total-container {
    width: 550px;
  }
}

.shopping-basket .price {
  padding-left: 1em;
  font-weight: 800;
}

.shopping-basket .title-container {
  display: flex;
  justify-content: space-between;
}
