.product-rectangle-first {
  height: 420px;
  width: 100%;
  display: flex;
}

.rectangle-box {
  margin: 0 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  /* border: 5px solid yellow; */
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.rectangle-box .individual-image {
  max-height: 200px;
  height: 100%;
  /* border: 4px solid red; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  object-fit: fill;
}

.rectangle-box img {
  flex-grow: 1;
  padding: 10px;
}

.rectangle-box.one,
.two,
.three {
  position: relative;
}

.rectangle-box.one::before {
  content: "Deals for you";
  position: absolute;
  top: -1.5em;
  background-color: white;
  font-weight: 600;
  padding: 5px;
  border-bottom: 2px solid black;
}

.rectangle-box.two::before {
  content: "Recommended";
  position: absolute;
  top: -1.5em;
  background-color: white;
  font-weight: 600;
  padding: 5px;
  border-bottom: 2px solid black;
}

.rectangle-box.three::before {
  content: "Trending";
  position: absolute;
  top: -1.5em;
  background-color: white;
  font-weight: 600;
  padding: 5px;
  border-bottom: 2px solid black;
}

@media (max-width: 480px) {
  .rectangle-box.three {
    display: none;
  }
  .rectangle-box.two {
    display: none;
  }
}

@media (max-width: 768px) {
  .rectangle-box.two {
    display: none;
  }
  /* .rectangle-box.three {
    display: none;
  } */
}
