.category-nav {
  height: 45px;
  width: 100%;
  background-color: var(--nav-primary);
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden !important;
  padding-top: 20px;
}

.category-nav .category-scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100vw;
  height: 75px;
  position: relative;
  top: -7px;

  overflow: auto;
}

@media (min-width: 2300px) {
  .category-nav .category-scroll {
    justify-content: center;
  }
}

.category-nav .categories {
  white-space: nowrap;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding: 0.3em 0.5em;
}

.category-nav .categories:hover {
  color: var(--search-orange);
  cursor: pointer;
}

.category-nav .categories:first-child {
  margin-left: 1em;
}

.deliver-to-mobile {
  height: 45px;
  background-color: var(--nav-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.deliver-to-mobile {
  color: white;
  font-size: 0.8em;
}

.deliver-to-mobile i {
  font-size: 1.5em;
  padding: 0.5em;
  padding-left: 1.5em;
}

@media screen and (min-width: 770px) {
  .category-nav .category-scroll {
    background-color: var(--nav-secondary);
  }

  .deliver-to-mobile {
    display: none;
  }

  .category-nav .categories:hover {
    border: 1px solid white;
    color: white;
  }
}
