/* Variables */

:root {
  --nav-primary: #232f3e;
  --nav-secondary: #37475a;
  --background-grey: #eaeded;
  --background-grey-highlight: #dadada;
  --text-grey: #544949;
  --search-orange: #f3a847;
  --search-orange-light: #fbbb6a;
  --min-screen-size: 350px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "Ember";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-grey);
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; */
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

li,
ul,
ol {
  list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Ember";
  src: url("./Assets/Font/AmazonEmber_Rg.ttf");
}

@font-face {
  font-family: "EmberBD";
  src: url("./Assets/Font/AmazonEmber_Bd.ttf");
}
